.user-menu {
  margin-top: 22px;
  width: 100%;
  border-radius: 10px;
  background: var(--White, #FFF);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__settings{
    display: flex;
    justify-content: space-between;
  }
  
  &>div{
    padding: 12px 12px 12px 20px;
  }
  &>div button:not(.user-menu__set){
    color: #5B4A58;
    font-family: Literal;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    text-align: left;
  }
  

  div:not(:last-child){
    border-bottom: 1px solid #E0E0E0;
  }
  &__set{
    width: 26px;
    height: 26px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
.activeDoor{
  background-color: #F6FFF3;
}