*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #1f2e35;
}
.container{
  max-width: 1108px;
  margin: 0 auto;
}
.card-box{
  margin: 173px 0 0 0;
  display: flex;
  gap: 6.4%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{

  min-width: 233px;
  flex-grow: 1;
  font-family: monospace;
  background-color: #ffffff;
  padding: 24px 0 32px 0;
  text-align: center;
  transition: 0.3s;
  border-radius: 8px;
}
.card:hover{
  color: #ffffff;
  background-color: #02897a;
}
.card:hover button{
  color: black;
  background-color: #fff;
}
.card:hover .price{
  color: white;
}
.title{
  font-size: 24px;
  font-weight: bold;
}
.u-text{
  font-size: 16px;
  margin-top: 16px;
}
.price-num{
  display: inline-block;
  font-size: 76px;
  font-weight: bold;
}
.price{
  color: #02897a;
  margin-top: 16px;
}
.price-text{
  display: inline-block;
}
.price-text-icon{
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
button{
  color: white;
  border: none;
  border-radius: 8px;
  padding: 11px 19px;
  background-color: #02897a;
  margin-top: 38px;
}