.register{
  background: #F9F8FB;
  @media (max-width: 808px){
    &>.UContainer{
      padding: 0;
    }
  }
  &__wrap{
    display: flex;
    @media (max-width: 808px){
      flex-direction: column;
    }
  }
  &__menu{
    max-width: 263px;
    min-width: 263px;
    padding: 37px 15px 0px;
    background-color: #F2F2F2;
    @media (max-width: 808px){
      min-width: 100%;
      padding: 25px 15px 30px;
    }
  }
  &__main{
    padding: 0 0 20px 20px;
    flex-grow: 1;
    @media (max-width: 808px){
      padding: 0;
    }
  }
  &__title{
    font-family: Karton2;
    font-size: 24px;
    line-height: 120%;
  }

}
