.UBtn-active {
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  padding: 11px 0;
  color: #FFF;
  background-color: #6AAE55;
  border: 1px solid transparent;
  border-radius: 10px;
  display: block;
  transition: 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px 0px rgba(106, 174, 85, 0.692);
  }

  &:active {
    border: 1px solid #6AAE55;
    background-color: transparent;
    color: #6AAE55;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px rgba(106, 174, 85, 0.692);
  }
}